// Specific CSS for your home-page
body {background-color: beige;}

.search {
  width: 400px;
}

.signup-login {
  width: 500px;
}

.user-profile {
  width: 300px;
  background: #E6D5B8;
  padding: 5px;
  border-radius: 10px;
}

.btn {
  color: white;
}

.prod-user {
  background: #E6D5B8;
  padding: 5px;
  width: 900px;
  border-radius: 10px;
}
