<h1><%= @user.name %></h1>

<ul>
<li><%= @user.email %></li>
<li><%= @user.address %></li>
</ul>

<div class="btn-style">
    <button><%= link_to "Criar Anúncio",  new_product_path(@product), class: 'btn-book' %></button>
</div>
