.navbar-lewagon {
  justify-content: space-between;
  background: url("https://res.cloudinary.com/dzuoumhdx/image/upload/v1619896572/bgvintage.png");
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-item a {
  color: #E6D5B8;
}
